@charset 'UTF-8';

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-04-27 11:05:54
 * @version $Id$
 */
/* 标题1 */
h1 {
	padding: 10px;
	margin: 0;
}
/* 标题2 */
h2 {
	font-size: 30px;
}
/* 子标题 */
.sub-heading {
	font-size: 18px;
}
/* 对所有按钮 */
button {
	padding: 10px;
	color: #eee;
	border: none;
	background: #333;
}
.hr {
	width: 100%;
	height: 2px;
	margin: 20px auto;
}


/* 导航栏nav  */
nav {
	height: 50px;/* 三个参数一致,居中 */
	background: #ccc;
}

/* 列表,消除默认样式边距,设置向右浮动 */
nav ul {
	float: right;/* 	其他向右 */
	margin: 0;
	list-style: none;
}

/*  设置列表项为行内块,使得列表横向排列 */
nav ul li, nav .logo {
	line-height: 50px;/* 三个参数一致,居中 */
	display: inline-block;
	margin-right: 20px;
}

/* 设置导航栏logo左浮动 */
nav .logo {
	font-size: 25px;
	float: left;/* logo向左浮动 */
	padding-left: 10px;
}

/* 设置列表项里的链接消除默认样式,高度与父元素一直 */
nav ul a, nav .logo a {
	line-height: 50px;/* 三个参数一致,居中 */
	display: inline-block;/* 块状可选中空间:1.将链接变为行内快元素,使其高度可以改变 */
	height: inherit;         /* 2.设置高度与父元素一直 */
	text-decoration: none;/* 去掉下划线 */
	color: #fff;
}

/* 导航栏nav结束  */

/* 引导页banner */
#banner {
	height: 700px;
	color: #fff;
	background: #777;
}

/* 中心内容inner,设置文字格式,偏移 */
#banner .inner {
	position: relative;/* 设置上下位置偏移 */
	top: 160px;
	max-width: 300px;
	margin: 0 auto;/* 区块居中 */
	text-align: center;/* 文字排版居中 */
}

/* 导航栏按钮 */
#banner button {
	padding: 10px 60px;
	background: #777;
	font-size: 20px;
	letter-spacing: 2px;
	border-radius: 5px;
	background: #7933E1;
}

/* 导航栏更多 */
#banner .inner .more {
	margin-top: 300px;
}

/* 设置文本行高 */
.sub_heading {
	line-height: 30px;
}

/* 设置标题字体格式 */
.logo {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 2px;
}

.logo a {
	color: #fff;
}

/* 设置标题样式 */
#banner .logo {
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}
/* 引导页banner结束 */
/* 第一部分 */
.green-section {
	padding: 100px;
	text-align: center;
	color: #fff;
	background: #33e184;
}
/* 内容块 */
.wrapper {
	position: relative;
	top: ;
	margin: 0 auto;

	max-width: 1080px;

	
}	

/* 分割线 */
.green-section .hr {
	background: #2dc170;
	width: 60%;
}
/* 图标 */
.green-section .icon-group {
	margin-top: 20px;
}
.green-section .icon-group .icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 20px;
	border: 1px solid #2dc170;
	transform: rotate(45deg);
}
/* 第一部分结束 */

/* 第二部分 */
.gray-section {
	background: #000000f2;
}
/* 图片区所占宽度 */
.gray-section .img-section {
	width: 45%;
}
/* 图片占满图片区 */
.img-section img {
	width: 100%;
}
/* 文字区宽度 */
.gray-section .text-section {
	width: 55%;
}
/* 左右区块左浮动 */
.article-preview > div {
	float: left;
}	
.artcle-preview:after {
	
}