@charset 'UTF-8';

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-21 17:02:52
 * @version $Id$
 */
.content {
	border: 1px solid #808080;
	border-radius: 4px;

	margin: 40px;
	background: #D5E6DD;

}
.title, .chapter {
	border-bottom: 1px solid #aaa;
}
.title {
	padding: 30px 25px 30px 25px;
	background: rgba(185,178,178,0.5);
}
.title p {
	padding: 30px 0 0 0;
	font-size: 0.8em;
}
.chapter {
	margin: 0 25px 0 25px;
	padding: 30px 0 30px 0;
	line-height: 1.5em;
}
.chapter h2, h4 {
	margin: 10px 0 10px 0;
}
.chapter h4 {
	padding: 3px;
}
.chapter p {
	padding: 5px;
}
.chapter ul, ol
{
    margin-left: 1em;/* 设置缩进,为了美观 */
    padding: 1em;/* 必须设置padding,否则标志没有地方显示 */

}
code {
	font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code.code-block {
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    
}

code.code-in {
	display: inline-block;

}
