@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-22 16:22:46
 * @version $Id$
 */
div, section, nav, li ,ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container h1, .container h2 {
	padding: 10px; 
}
.container p {
	padding: 5px;
}
/* 导航栏  */
.nav {
	height: 50px;
	background-image: linear-gradient(to right, #E5BD6D, #7C9FE1 50%, #D3A8CE);
}
.nav ul, section.skills .wrapper ul {
	list-style-type: none;
}
.nav ul.title {
	float: left;
	margin-left: 10px;

}
.nav ul.more {
	float:right;
	margin-right: 10px;
}
.nav ul li, section.skills .wrapper ul li {
	display: inline-block;
	line-height: 50px;
}

/* 首页 */
.banner, section.project, section.skills {
	display:flex;
    justify-content:center;
    align-items:center;
    height: 500px;

	
}
.banner {
	background-image: url(../image/bg-banner.png);
	background-repeat: repeat-x;
	-webkit-background-size: auto 500px;
	background-size: auto 500px;

}
.banner .inner,section .wrapper {
	
	text-align: center;

	background-color: rgb(233, 214, 214, 0.8);
}


/* 项目部分 */
section.project {
	background-color: #D3A8CE;
	position: relative;
	background-image: url(../image/bg-.jpg);
	background-repeat: repeat-x;
	-webkit-background-size: auto 500px;
	background-size: auto 500px;
}
section.project .wrapper {
	position: relative;
	width: 500px;
	height: 344px;
}
section.project .wrapper .pro {
	position: absolute;
	width: 250px;
	height: 150px;
	padding: 10px;
	border: 0.5px dotted  #7C7A7A;
	background-color: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
section.project .wrapper #pro1, #pro3 {
	
	left: 0px;
}
section.project .wrapper #pro2, #pro4 {
	
	margin-left:250px;
}
section.project .wrapper #pro3,#pro4 {
	
	bottom: 0px;
}
section.project .wrapper .pro p {
	padding: 10px 0;
}


/* 技能部分 */
.banner .inner, section.skills .wrapper {
	padding: 10px;
}
section.skills .wrapper ul li {
	line-height: 25px;
	margin: 0 5px;
	padding: 0 10px;
	border-radius: 2px; 
	box-shadow:1px 1px 0 #080808; 
	background: linear-gradient(top,#434345,#2f3032);
}
.background {
	height: 2000px;
	background: url(../image/1.jpg) no-repeat 99% center, /*背景图1，右中*/
                url(../image/2.jpg) no-repeat,/*背景图2， 左上*/
                linear-gradient(to bottom, yellow, #dddd00 50%, orange);/*背景渐变*/
	background-color: yellow;/*背景色*/
}